.Post .blog-post {width:100%; clear:both;}
.Post .btn-addthis {float:left; margin-top:50px; margin-bottom:50px; width:100%;}
.Post .post-content {max-width:800px; word-wrap:break-word;}
.Post .blog-post-meta {margin-bottom:20px; color:#999;}
